.footer-content {
  background-color: #16242e;
  .footer-head-text {
    font: 400 18px/21px "Quattrocento Sans", sans-serif;
  }
  .copyright-text {
    font: 400 12px/25px "Quattrocento Sans", sans-serif;
  }
}