.site-footer {
  &__wrapper {
    background-color: #16242e;
  }
  &__heading {
    font: 400 18px/21px "Quattrocento Sans", sans-serif;
  }
  &__copyright {
    font: 400 12px/25px "Quattrocento Sans", sans-serif;
  }
}

