.header-menu {
  background-color: #16242e;
  z-index: 5;
  &__navbar-toggler {
    border: none;
  }
  &__navbar-toggler-icon {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  &__main-navigation-style {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      li {
        display: inline-block;
        }
      @media (max-width: 767.98px) {
        li {
          display: block;
        }
      }
      a {
        font: 400 17px/22px "Quattrocento Sans", sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 17px 20px 15px;
        border-bottom: 2px solid #16242e;
        &:hover {
          color: #0092de;
          border-bottom: 2px solid #0092de;
        }
      }
    }
  }
}


