.section-one {
  min-height: 70%;
  &__heading {
    font: 700 45px/43px "Quattrocento", serif;
  }
  @media (max-width: 767.98px) {
    &__heading {
      font: 700 28px/20px "Quattrocento", serif;
    }
  }
  &__description {
    font: 400 20px/31px "Quattrocento Sans", sans-serif;
  }
}