.section-two {
  &__heading {
    font: 700 27px/21px "Quattrocento Sans", sans-serif;
    color: #010101;
  }
  &__subheading {
    font: 700 18px/21px "Quattrocento Sans", sans-serif;
    color: #010101;
  }
  &__description {
    font: 400 18px/21px "Quattrocento Sans", sans-serif;
    color: #010101;
  }
}