.section-three {
  &__heading {
    font: 700 35px/28px "Quattrocento", serif;
  }
  @media (max-width: 767.98px) {
    &__heading {
      font: 700 18px/20px "Quattrocento", serif;
    }
  }
  &__item {
    background-color: #fff;
    min-height: 100%;
    padding: 26px 23px 26px 33px;
    &-heading {
      font: 700 15px/21px "Quattrocento Sans", sans-serif;
      color: #474747;
    }
    &-text {
      font: 400 13px/18px "Quattrocento Sans", sans-serif;
      color: #474747;
      margin-top: 5%;
    }
    &-sub-text {
      font: 700 13px/21px "Quattrocento Sans", sans-serif;
      color: #474747;
    }
  }
}