//font-family: 'Quattrocento Sans', sans-serif;
//font-family: 'Quattrocento', serif;

.main-heading-font {
  font: 700 45px/43px "Quattrocento", serif;
}

.heading-font {
  font: 700 35px/28px "Quattrocento", serif;
}

@media (max-width: 767.98px) {
  .heading-font {
    font: 700 18px/20px "Quattrocento", serif;
  }
}

.description-font {
  font: 400 20px/31px "Quattrocento Sans", sans-serif;
}

.second-section-heading-font {
  font: 700 27px/21px "Quattrocento Sans", sans-serif;
  color: #010101;
}

.second-section-subheading-font {
  font: 700 18px/21px "Quattrocento Sans", sans-serif;
  color: #010101;
}

.second-section-text-font {
  font: 400 18px/21px "Quattrocento Sans", sans-serif;
  color: #010101;
}

.third-section-subheading-font {
  font: 400 18px/21px "Quattrocento Sans", sans-serif;
}
