header {
  .link-tele {
    font: 700 15px/22px "Roboto", sans-serif;
    color: #0092de;
    padding-top: 11px;
    a:hover {
      transition: 0.8s;
      color: red;
      text-decoration: none;
    }
    span {
      color: #000;
      margin-left: 5px;
      padding-left: 5px;
      border-left: 1px solid #d0d3d5;
    }

  }
  .link-mail {
    font: 700 15px/22px "Roboto", sans-serif;
    color: #0092de;
    padding-top: 11px;
    a:hover {
      transition: 0.8s;
      color: red;
      text-decoration: none;
    }
    span {
      color: #000;
      margin-left: 5px;
      padding-left: 5px;
      border-left: 1px solid #d0d3d5;
    }
  }
}


.menu-container {
  background-color: #16242e;
  position: sticky; /* Липкое позиционирование */
  top: 0; /* Положение сверху */
  z-index: 5;
  .main-navigation {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      a {
        font: 400 17px/22px "Quattrocento Sans", sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 17px 20px 15px;
        border-bottom: 2px solid #16242e;
        &:hover {
          color: #0092de;
          border-bottom: 2px solid #0092de;
        }
      }
    }
  }
}

